<launch>
<!-- GET DWAPLANNER FROM HERE NOT APT https://github.com/ros-planning/navigation/tree/noetic-devel/dwa_local_planner -->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    <!-- <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/> -->
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    <rosparam file="$(find tango_rtabmap)/yaml/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find tango_rtabmap)/yaml/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find tango_rtabmap)/yaml/static_map_params.yaml" command="load" ns="global_costmap/static_layer" />
    <rosparam file="$(find tango_rtabmap)/yaml/local_costmap_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find tango_rtabmap)/yaml/global_costmap_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find tango_rtabmap)/yaml/planner_params.yaml" command="load" />
  </node>
  
</launch>